/** Globals */
body {
  font-family: "Museo Sans";
  font-weight: 300;
  color: $gray;
  background: $light-gray;
  p {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
  };
  h3 {
    font-weight: 900;
    color: black;
  };
}

/** Authorization page customizations*/
.auth-wrapper {
  background: url("/img/auth-bg-pattern.svg") top left no-repeat, linear-gradient(90deg, #41B6E6, #3D87CB);
}

.auth-form-bg {
  color: white;
  background: url("/img/auth-artwork-bottom.png") bottom right no-repeat, url("/img/auth-artwork-top.png") top center no-repeat $light-blue;
  border-radius: 10px 0 0 10px;
  min-height: 654px;
};

.auth-title {
  padding-top: 15%;
  padding-left: 17%;
  h1 {
    margin-top: 28%;
    color: white;
    font-weight: 900;
    font-size: 48px;
  };
};

.auth-row {
  border-radius: 10px;
  box-shadow: 20px 30px 40px 0 rgba(0, 0, 0, 0.1);
  width: 896px !important;
}

.auth-nav {
  .active {
    font-weight: 900;
    color: $primary;
  }
  a {
    color: $gray;
  }
  :first-of-type a {
    padding-left: 0;
    border-right: 1px solid $light-blue;
  }
  font-size: 28px;

  .nav-item {
    color: black;
    font-weight: normal;
    font-family: 'Roboto';
  }
}

.copyright-footer {
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: white;
  border-top: 1px solid #E7ECFC;
  width: 65%;
  p {
    padding-top: 10px;
  }
}

.notification-content {
}

.navbar {
  background-color: #FFFFFF;
}

.third-party {
  border-top: 1px solid $light-blue;
}

.btn {
  min-height: 47px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  &.disabled {
    background-color: $btn-disabled;
    outline-color: $btn-disabled;
    border-color: $btn-disabled;
  }
}

.btn:focus, .btn.focus {
  box-shadow: none;
  border-color: transparent;
}

.navbar-brand {
  font-weight: 900;
}

.personal-wrapper {
  font-family: "Museo Sans";
  font-weight: normal;
  font-size: 20px;
  color: black;
}

.dripicons {
  vertical-align: middle;
}

.menu-bar {
  font-weight: bold;
  line-height: 24px;
  padding: 2.25rem 0 2.25rem 0;
  .nav-item {
    .active {
      font-weight: 900;
      color: $primary;
      border-left: 3px solid $light-blue;
    }
    a {
      color: $black;
    }
  }
}

.card {
  border: none;
}

.membership-wrapper > .show{
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.25);
  .dropdown-menu {
    box-shadow: inherit;
    width: 100%;
    border: none;
  }
}

.form-group, .unit-detail {
  label,legend {
    color: $label-gray;
    font-size: 16px;
    line-height: 19px;
  }
  .form-control {
    min-height: 47px;
    color: black;
    font-size: 18px;
    line-height: 22px;
    padding: 0 1.3rem;
    vertical-align: middle;
  }
  input::placeholder {
    color: $placeholder-gray !important;
  }
  p {
    font-weight: 500;
  }
}

.application-wrapper {
  i {
    color: $btn-disabled;
    font-size: 16px;
  }

  .list-group {
    border: none;
  }

  .list-group-item {
    border: none;
  }
}
.b-form-btn-label-control.form-control.b-form-datepicker> .form-control {
  padding-top: 0.7em;
}
textarea {
  padding-top: 0.5em;
}